body{
	margin:0;
	padding: 0;
	background-color: #333;
	font-family : 'Open Sans';
}
main{
	width: 892.5px;
	margin: 0 auto;
}
section{
	height: 1263px;
	position: relative;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}