body{
	margin:0;
	padding: 0;
	background-color: #333;
	font-family : 'Open Sans';
	font-size: 15px;
}
main{
	width: 892.5px;
	margin: 0 auto;
}
section{
	height: 1261px;
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid black;
	
	article.container-fluid{
		
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 60px;
		padding-right: 60px;
		
	}
	
	.article-body{
		margin-top: 20px;
		line-height: 1.8;
		
		p{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
p{
	font-family: 'Open Sans';
}
table{
	td.info-active{
		background-color: #27408B;
	}
}