#timeline{
	
	table#methodology-timeline-phases{
		
		th{
			background-color: #3CB371;
			color: white;
		}
		td,th{
			padding-top: 15px;
			padding-bottom: 15px;
			border-color: #3CB371;
		}
		
	}
	
}