#scope-of-work, #investment, #investment-total{
	
	.scope-of-work-section, .investment-section{
		
		padding: 7px;
		border: 1px solid #bbb;
		border-radius: 2px;
		margin: 15px 0;
		
		table{
			margin-bottom: 0;
		}
		
	}
	
	.fa-remove{
		cursor:pointer;
	}
	
}

#investment{
	
	td.investment-sort-handler{
		width: 20px;
	}
	td.investment-name{
		width: 65%;
	}
	td.investment-cost{
		width: 30%;
	}
	
}

#messages{
	
	margin-top: 20px;
	
}