.time-tracking-datepicker{
	margin-top: 15px;
}
#time-tracking-dates{
	cursor: pointer;
	padding-top:5px;
}
#time-tracking-list{
	
	.nav-tabs-container{
		overflow: auto;
		padding-bottom: 15px;
	}
	
	.nav-tabs{
		margin-top: 20px;
	}
	.title{
		width: 75%;
	}
	.time{
		width: 25%;
		text-align:right;
	}
	
	.tab-content{
		.btn{
			margin-top: 20px;
			margin-bottom: 10.5px;
			margin-right: 5px;
			padding: 6.5px 12px;
		}
	}
	
}

#time-tracking-create-invoice-success{
	
	figure{
		img{
			margin: 0 auto;
			width: 200px;
		}
	}
	
}