.time-tracking-datepicker{
	margin-top: 15px;
}
#time-tracking-dates{
	cursor: pointer;
	padding-top:5px;
}
#time-tracking-list{
	
	.nav-tabs{
		margin-top: 20px;
	}
	.title{
		width: 75%;
	}
	.time{
		width: 25%;
		text-align:right;
	}
	
}